@color-bluegray-medium: #96a4b0;
@color-bluegray-saturated: #3c5081;
@color-bluegray-light: #edf0f2;
@color-gray-medium: #565656;
@color-white: #ffffff;
@color-yellow: #ffce00;
@width-grid: 980px;

@font-face {
    font-family: 'RobotoThin';
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'RobotoSlabBold';
    src: url(../fonts/RobotoSlab-Bold.ttf);
}

.leftside {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 35px;

    .menu {
        width: 240px;
        margin-bottom: 30px;
        background: @color-white;
        border: 1px solid rgba(176, 176, 176, 0.3);
        box-sizing: border-box;

        li {
            height: 40px;
            width: 100%;
            cursor: pointer;

            &:hover {
                background: darken(#fafafb, 5%);
            }

            &:first-child {
                background: @color-bluegray-medium;
                width: 100%;

                span {
                    font-size: 14px;
                    font-family: RobotoBold;
                    color: @color-white;
                    text-transform: uppercase;
                    -webkit-font-smoothing: antialiased;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                }
            }

            a {
                font-size: 14px;
                font-family: RobotoThin;
                color: #b0b0b0;
                width: 220px;
                height: 100%;
                display: block;
                margin: 0 auto;
                border-bottom: 1px solid rgba(176, 176, 176, 0.1);
                cursor: pointer;
            }

            span {
                display: inline-block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .next {
                float: right;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        li:not(:last-child), li:not(:first-child) {
            border-bottom: 1px solid rgba(176, 176, 176, 0.1);
        }
    }

    .filter {
        width: 240px;
        margin-bottom: 30px;
        background: @color-white;
        border: 1px solid rgba(176, 176, 176, 0.3);
        box-sizing: border-box;
        font-size: 14px;
        font-family: RobotoThin;
        color: @color-bluegray-medium;

        li {
            height: 40px;
            width: 220px;
            margin: 0 auto 5px auto;
            position: relative;
            text-align: center;

            &:first-child {
                background: @color-bluegray-medium;
                width: 100%;
                margin-bottom: 10px;
                text-align: left;

                span {
                    font-size: 14px;
                    font-family: RobotoBold;
                    color: @color-white;
                    text-transform: uppercase;
                    -webkit-font-smoothing: antialiased;
                    position: relative;
                    top: 30%;
                    left: 10px;
                }
            }

            a {
                font-size: 14px;
                font-family: RobotoThin;
                color: #b0b0b0;
                position: relative;
                top: 30%;
            }

            button {
                font-size: 12px;
                font-family: RobotoLight;
                color: @color-bluegray-medium;
                text-transform: uppercase;
                border: 1px solid rgba(150, 164, 176, 0.7);
                width: 145px;
                padding: 5px 0;
                margin-top: 10px;
                box-sizing: border-box;

                &:hover {
                    color: @color-white;
                    border: 1px solid transparent;
                    background: @color-bluegray-medium;
                }
            }

            label {
                margin-right: 5px;
            }

            input {
                width: 65px;
                height: 30px;
                border: 1px solid rgba(176, 176, 176, 0.3);
                margin-right: 10px;
                box-sizing: border-box;
                color: @color-bluegray-medium;
            }

            .rub {
                color: @color-bluegray-medium;
                font-size: 22px;
                vertical-align: middle;
                -webkit-font-smoothing: antialiased;
            }

            .outer {
                width: 100%;
                height: 8px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 10px;
                border: 1px solid rgba(150, 164, 176, 0.7);
                -webkit-box-shadow: inset -1px 2px 4px 0px rgba(0, 0, 0, 0.23);
                -moz-box-shadow:    inset -1px 2px 4px 0px rgba(0, 0, 0, 0.23);
                box-shadow:         inset -1px 2px 4px 0px rgba(0, 0, 0, 0.23);
            }

            .inner {
                width: 70%;
                height: 100%;
                background: @color-bluegray-medium;
            }

            .circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid rgba(150, 164, 176, 0.7);
                background: @color-white;
                position: absolute;
                top: 7px;
                left: -2px;
                cursor: pointer;

                &:after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid rgba(150, 164, 176, 0.7);
                    background: @color-white;
                    position: absolute;
                    top: 0;
                    left: 150px;
                    cursor: pointer;
                }
            }
        }

    }
}

.rightside {
    width: 73%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 35px;

    .images {
        width: 380px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-right: 25px;

        &__main {
            display: block;
            margin-bottom: 10px;
        }

        &__thumb {
            width: 80px;
            height: 80px;
            display: inline-block;
            background: #eeeeee;
            cursor: pointer;

            img {
                width: 80px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }

            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }

    .description {
        display: inline-block;
        vertical-align: top;
        width: 40%;

        .title {
            font-size: 14px;
            font-family: RobotoBold;
            color: #646464;
            -webkit-font-smoothing: antialiased;
            display: block;
            margin-bottom: 10px;
        }

        p {
            font-size: 12px;
            font-family: RobotoLight;
            color: #646464;
        }

        .price {
            width: 65px;
            display: inline-block;
            text-align: right;

            &__old {
                font-size: 16px;
                font-family: RobotoLight;
                color: rgba(150, 164, 176, 0.7);
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: rgba(150, 164, 176, 0.7);
                    opacity: .7;
                    top: 50%;
                    left: 0;
                }
            }

            &__new {
                font-size: 24px;
                font-family: RobotoBold;
                color: @color-yellow;
                -webkit-font-smoothing: antialiased;
            }
        }

        button {
            width: 165px;
            float: right;
            font-size: 12px;
            font-family: RobotoLight;
            color: rgba(150, 164, 176, 0.8);
            text-transform: uppercase;
            border: 1px solid rgba(150, 164, 176, 0.5);
            padding: 5px 0;
            box-sizing: border-box;
            margin-top: 25px;

            &:hover {
                color: @color-white;
                border: 1px solid transparent;
                background: rgba(150, 164, 176, 0.8);
            }

            span {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }

            img {
                vertical-align: bottom;
                cursor: pointer;
            }
        }
    }

    .same {
        margin-top: 50px;
        padding-top: 10px;
        border-top: 1px solid rgba(150, 164, 176, 0.5);

        & > span {
            font-size: 14px;
            font-family: RobotoBold;
            color: @color-bluegray-medium;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
        }
    }

    .gallery__item {
        width: 220px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 15px 0 30px 0;
        text-align: left;

        &:not(:last-child) {
            margin-right: 13px;
        }

        & > span {
            font-size: 14px;
            font-family: RobotoBold;
            color: #646464;
            -webkit-font-smoothing: antialiased;
        }

        & > img {
            display: block;
            margin-bottom: 10px;
        }

        & > div {
            margin: 10px 0;
        }

        .price {
            font-size: 16px;
            float: right;
            margin-left: 10px;
        }

        .price--old {
            font-family: RobotoLight;
            color: @color-bluegray-medium;
            -webkit-font-smoothing: antialiased;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: @color-bluegray-medium;
                opacity: .7;
                top: 50%;
                left: 0;
            }
        }

        .price--new {
            font-family: RobotoBold;
            color: @color-yellow;
        }

        .sale {
            width: 55px;
            position: absolute;
            top: 10px;
            left: -7px;
            padding: 3px;
            box-sizing: border-box;
            font-size: 14px;
            font-family: RobotoBold;
            color: @color-white;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            -webkit-font-smoothing: antialiased;
            background-color: #cf534e;

            &:before {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 3px;
                width: 15px;
                height: 15px;
                background: #8f3430;
                transform: rotate(45deg);
                z-index: -1;
            }
        }
    }
}