@color-bluegray-medium: #96a4b0;
@color-bluegray-saturated: #3c5081;
@color-bluegray-light: #edf0f2;
@color-gray-medium: #565656;
@color-white: #ffffff;
@color-yellow: #ffce00;
@width-grid: 980px;

@font-face {
    font-family: 'RobotoThin';
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'RobotoSlabBold';
    src: url(../fonts/RobotoSlab-Bold.ttf);
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

button, input {
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    background: transparent;
}

button {
    cursor: pointer;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: rgba(44, 62, 80, 0.1);
}

.clear {
    clear: both;
}

.grid {
    width: @width-grid;
    margin: auto;
}

header {
    width: 100%;
    height: 80px;

    .grid {
        display: table;
        height: 100%;
    }

    .logo, .city, .delivery, .faq, .phone {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .logo {
        width: @width-grid/5.4;
        text-align: right;

        span:first-child {
            font-size: 24px;
            font-family: RobotoSlabBold;
            color: @color-bluegray-medium;
            text-transform: uppercase;
            display: block;
        }

        span:last-child {
            font-size: 12px;
            font-family: RobotoThin;
            color: @color-gray-medium;
            text-transform: lowercase;
            display: block;
        }
    }

    .city {
        cursor: pointer;
        width: 290px;
        text-align: right;

        span:first-child {
            width: 0;
            height: 0;
            border-top: 4px solid #c8c8c8;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
            position: relative;
            top: 12px;
            left: 0;
            margin-right: 5px;
        }

        span:last-child {
            font-size: 14px;
            font-family: RobotoLight;
            color: @color-bluegray-saturated;
            border-bottom: 1px dotted @color-bluegray-saturated;
        }
    }

    .delivery {
        cursor: pointer;
        width: 185px;
        text-align: right;

        img {
            vertical-align: middle;
        }

        span:last-child {
            font-size: 14px;
            font-family: RobotoThin;
            color: #aaaaaa;
            border-bottom: 1px dotted #aaaaaa;
            vertical-align: middle;
        }
    }

    .faq {
        cursor: pointer;
        width: 100px;
        text-align: right;

        img {
            vertical-align: middle;
        }

        span:last-child {
            font-size: 14px;
            font-family: RobotoThin;
            color: #aaaaaa;
            border-bottom: 1px dotted #aaaaaa;
            vertical-align: middle;
        }
    }

    .phone {
        cursor: pointer;
        width: 235px;
        text-align: right;

        img {
            vertical-align: middle;
            margin-right: 10px;
        }

        span:first-of-type {
            font-size: 20px;
            font-family: RobotoBold;
            color: @color-gray-medium;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
        }

        span:last-of-type {
            font-size: 12px;
            font-family: RobotoThin;
            color: @color-bluegray-medium;
            display: block;
        }
    }
}

.navigation {
    width: 100%;

    .nav {
        background: @color-bluegray-medium;
        height: 35px;
        padding: 5px 10px;

        ul {
            height: 100%;
        }

        li {
            float: left;
            position: relative;
            top: 50%;
            transform: translateY(-45%);
            cursor: pointer;
        }

        li:nth-child(3), li:nth-child(4), li:nth-child(5) {
            float: right;
            margin-left: 12px;
        }

        .breadcrumbs {
            font-size: 15px;
            font-family: RobotoBold;
            color: @color-white;
            border-bottom: 1px dotted @color-white;
            -webkit-font-smoothing: antialiased;
            margin-left: 10px;
            position: relative;
            top: -5px;
        }
    }

    .categories {

        background: @color-bluegray-light;
        padding: 5px 10px;

        .slider {
            display: table;
            height: 95px;
        }

        .arrows, .frame {
            display: table-cell;
            vertical-align: middle;
        }

        .frame {
            text-align: center;

            span {
                font-size: 11px;
                font-family: RobotoBold;
                color: #c1c9d0;
                -webkit-font-smoothing: antialiased;
                display: block;
            }
        }

        .slide {
            width: 95px;
            display: inline-block;

            &:not(:last-child) {
                margin-right: 6px;
            }
        }
    }
}

.ad {
    width: 100%;
    padding: 10px 0;

    .features {
        width: @width-grid/3.1;
        margin-right: @width-grid - (@width-grid/3.05 + @width-grid/1.6);
        display: inline-block;
        vertical-align: bottom;

        h2 {
            margin: 0;
            font-size: 30px;
            font-family: RobotoSlabBold;
            color: #646464;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 70%;
                height: 1px;
                background: @color-yellow;
            }
        }

        ul {
            margin-top: 15px;
        }

        li {
            font-size: 14px;
            font-family: RobotoLight;
            color: #646464;
            margin-bottom: 10px;

            img {
                margin-right: 5px;
            }
        }
    }

    .subscribe {

        .discount {
            background: @color-yellow;
            padding: 5px 45px;
            margin-top: 15px;

            span {
                color: #646464;
                text-transform: uppercase;
                vertical-align: middle;
            }

            span:nth-child(1) {
                font-size: 14px;
                font-family: RobotoLight;
                display: block;
                text-align: center;
                margin-bottom: 5px;
            }

            span:nth-child(2) {
                font-size: 14px;
                font-family: RobotoSlabBold;
                -webkit-font-smoothing: antialiased;
            }

            span:nth-child(3) {
                font-size: 24px;
                font-family: RobotoSlabBold;
                -webkit-font-smoothing: antialiased;
                margin-left: 10px;
            }
        }

        form {
            background: #f8f5f0;
            border-left: 1px dashed @color-yellow;
            border-right: 1px dashed @color-yellow;
            border-bottom: 1px dashed @color-yellow;
            text-align: center;
            padding: 15px 0;

            input, button {
                width: 270px;
                height: 35px;
                box-sizing: border-box;
            }

            input {
                font-size: 14px;
                font-family: RobotoThin;
                color: #646464;
                background: @color-white;
                border: 1px solid lighten(#646464, 50%);
                padding-left: 5px;
            }

            button {
                font-size: 16px;
                font-family: RobotoLight;
                color: @color-yellow;
                text-transform: uppercase;
                border: 1px solid @color-yellow;
                margin-top: 20px;
            }
        }
    }

    .offer-cards {
        width: @width-grid/1.6;
        height: 383px;
        display: inline-block;
        vertical-align: bottom;
        background: url(../img/bg-1.jpg);
        position: relative;

        .ribbon {
            background: url(../img/ribbon.jpg);
            width: 320px;
            height: 48px;
            padding: 0 5px;
            display: table;
            position: absolute;
            top: 30px;
            left: -10px;

            &:after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 3px;
                width: 15px;
                height: 15px;
                background: #1b2112;
                transform: rotate(45deg);
                z-index: -1;
            }

            span {
                font-size: 16px;
                font-family: RobotoSlabBold;
                color: @color-white;
                text-transform: uppercase;
                -webkit-font-smoothing: antialiased;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }

        .description {
            width: 100%;
            height: 130px;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px 15px;
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../img/bg-1.jpg) left bottom;
                -webkit-filter: blur(3px);
                overflow: hidden;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.35);
            }

            & > span:first-of-type {
                width: 245px;
                display: block;
                font-size: 18px;
                font-family: RobotoLight;
                color: @color-white;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                border-bottom: 1px solid @color-yellow;
                padding-bottom: 5px;
                margin-bottom: 5px;
                -webkit-font-smoothing: antialiased;
            }

            & > span:last-of-type {
                width: 300px;
                display: block;
                font-size: 12px;
                font-family: RobotoLight;
                color: @color-white;
                position: relative;
                z-index: 1;
                -webkit-font-smoothing: antialiased;
            }

            & > button {
                width: 85px;
                line-height: 2;
                font-size: 12px;
                font-family: RobotoLight;
                color: @color-white;
                border: 1px solid rgba(255, 255, 255, 0.5);
                position: absolute;
                left: 325px;
                bottom: 15px;
                z-index: 1;
                -webkit-font-smoothing: antialiased;
            }
        }

        .available {
            width: 180px;
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.35);
            padding: 10px 10px;
            box-sizing: border-box;
            z-index: 1;

            & > span {
                line-height: .5;
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
            }

            & > span:first-of-type {
                font-size: 12px;
                font-family: RobotoThin;
                color: @color-white;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
            }

            button {
                width: 85px;
                line-height: 2.5;
                font-size: 12px;
                font-family: RobotoBold;
                color: rgba(133, 182, 50, .9);
                -webkit-font-smoothing: antialiased;
                border: 1px solid rgba(133, 182, 50, .5);
                vertical-align: middle;
            }
        }

        .counter {
            text-align: right;
            margin-top: 5px;
            margin-bottom: 20px;

            span {
                width: 40px;
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                font-family: RobotoThin;
                color: rgba(255, 255, 255, 1);
            }
        }

        .counter__item {
            font-size: 17px;
            font-family: RobotoBold;
            color: rgba(255, 255, 255, 1);
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 0 3px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            -webkit-font-smoothing: antialiased;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: rgba(255, 255, 255, 0.5);
                top: 50%;
                left: 0;
            }

            &--null {
                color: rgba(255, 255, 255, 0.3);
                border: 1px solid rgba(255, 255, 255, 0.1);

                &:before {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

.gallery {
    width: 100%;

    .nav {
        border-top: 1px solid lighten(@color-gray-medium, 50%);
        border-bottom: 1px solid lighten(@color-gray-medium, 50%);
        padding: 10px 0;
        margin-bottom: 30px;

        ul {
            text-align: center;
        }

        li {
            width: 130px;
            display: inline-block;
            font-size: 14px;
            font-family: RobotoThin;
            color: @color-bluegray-medium;
            text-transform: uppercase;
            text-align: left;
            position: relative;
            cursor: pointer;

            &:nth-child(1) {
                text-align: right;
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: left;
            }

            &.active {
                font-family: RobotoBold;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -16px;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    background: @color-white;
                    border: 1px solid lighten(@color-gray-medium, 50%);
                    transform: translateX(-50%) rotate(45deg);
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 20px;
                    height: 10px;
                    background: @color-white;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .gallery-content {
        text-align: center;
    }

    .gallery__item {
        width: 220px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 30px 0;
        text-align: left;

        &:not(:nth-child(4n)) {
            margin-right: 20px;
        }

        & > span {
            font-size: 14px;
            font-family: RobotoBold;
            color: #646464;
            -webkit-font-smoothing: antialiased;
        }

        & > img {
            display: block;
            margin-bottom: 10px;
        }

        & > div {
            margin: 10px 0;
        }

        .price {
            font-size: 16px;
            float: right;
            margin-left: 10px;
        }

        .price--old {
            font-family: RobotoLight;
            color: @color-bluegray-medium;
            -webkit-font-smoothing: antialiased;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: @color-bluegray-medium;
                opacity: .7;
                top: 50%;
                left: 0;
            }
        }

        .price--new {
            font-family: RobotoBold;
            color: @color-yellow;
        }

        .sale {
            width: 55px;
            position: absolute;
            top: 10px;
            left: -7px;
            padding: 3px;
            box-sizing: border-box;
            font-size: 14px;
            font-family: RobotoBold;
            color: @color-white;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            -webkit-font-smoothing: antialiased;
            background-color: #cf534e;

            &:before {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 3px;
                width: 15px;
                height: 15px;
                background: #8f3430;
                transform: rotate(45deg);
                z-index: -1;
            }
        }
    }
}









